name: Docs

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**.md'
      - 'moonwave.toml'
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**.md'
      - 'moonwave.toml'

jobs:
  status:
    runs-on: ubuntu-latest
    name: Publish docs to GitHub Pages
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - run: npm i -g moonwave@latest
      - name: Publish
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git config --global user.email "support+actions@github.com"
          git config --global user.name "github-actions-bot"
          moonwave build --publish
        env:
          NODE_OPTIONS: --no-experimental-require-module